@media (max-width:320px){
    .Contacto{
        font-size:3rem;
    }
    .about_me{
      font-size: 1rem;
  }
  .Hero{
     height: auto;
     display: block;
  }
  .Hero h1{
      font-size: 1.2rem;
      padding:2rem ;
      text-align: center;
  }
  .Img{
      display:flex;
      justify-content: center;
  }
  .Img-foto{
      height: 100px;
      padding: 0;
      align-items: center;
  }
  .Portafolio{
      font-size: 1.5rem;
  }
}