*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color: purple;
}
.header{
    background-color:#1B193E;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav{
    text-align: end;
    color: white;
    margin: 0;
}
.nav li{
    display: inline-block;
    font-size: 1.5rem;  
    margin: 15px;
}
.nav a{
    color:white;
    text-decoration: none;
}
.Logo{
    font-size:2rem;
    margin:0;
    justify-content: center;
    color:white;
    
}
.Logo img{
    vertical-align: middle;
    padding-left:1rem ;
}
.footer{
    background-color:#1B193E;
    height: 50px;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.main{
}
.Hero{
    display: flex;
    height: 300px;
    background-image:url(../images/YO.jpg) ;
    background-size: 500px 300px;
    background-repeat:no-repeat;
    background-position-x:right ;
    background-color:cadetblue;
    margin: 5rem;
    margin-top:0;
    margin-bottom: 0;
    align-items: center;
    border-radius:3px;
}
.Hero h1{
    line-height: 1.5;
    font-size: 35px;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    padding-left: 5rem ;
}
h1 strong{
    color:blue;
}
.Secciones{
    display:flex;
    flex-direction: column;
}
.about_me{
    background-color: #fafafa;
    padding: 0;
    margin: 5rem;
    margin-top:0.7rem;
    margin-bottom:0;
}
.me{
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;  
    display: flex; 
}
.me-details{
    width: 500px;
    
}
.Portafolio{
    background-color: #fafafa;
    padding: 0;
    margin: 5rem;
    margin-top:0.7rem;
    margin-bottom: 0;
}
.Porta{
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;  
    display: flex; 
}
.Porta-details{
    width: 500px;
}
.Contacto{
    background-color: #fafafa;
    padding: 0;
    margin: 5rem;
    margin-top:0.7rem;
    margin-bottom: 0;
}
.Contact{
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;  
    display: flex; 
}
.Contact-details{
    width: 500px;
}