*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.header{
    background-color: pink;
    height: 50px;
    display: inline-block;
}

.nav{
    text-align: end;
    color: white;
    background-color:red;
    height: 50px;
    width:75%;
    margin: 0;
}
.nav li{
    display: inline-block;
    font-size: 1.5rem;  
    text-decoration: none;
   
}
.Logo{
    height: 50px;
    width: 25%;
    background-image: url(../images/trifuerza.jpg);
    background-size: 80px 25px;
    background-repeat: no-repeat;
    background-position-x:left;
    background-color: green;
    font-size:2rem;
    text-align: right;
    margin: 0;
}

