*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-image:url(../images/blanco.jpeg);
    background-size: contain;
    object-fit: cover;
}
@font-face {
    font-family: 'icomoon';
    src:  url(../icomoon/fonts/icomoon.eot?rjo76b);
    src:  url(../icomoon/fonts/icomoon.eot?rjo76b#iefix) format('embedded-opentype'),
      url(../icomoon/fonts/icomoon.ttf?rjo76b) format('truetype'),
      url(../icomoon/fonts/icomoon.woff?rjo76b) format('woff'),
      url(../icomoon/fonts/icomoon.svg?rjo76b#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
.header{
    background-color:rgb(27, 25, 62);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    text-align: end;
    color: white;
    margin: 0;
}
.nav li{
    display: inline-block;
    font-size: 1.5rem;  
    margin: 15px;
    flex-wrap: wrap;
}
.nav a{
    color:white;
    text-decoration: none;
    
}
.Logo{
    font-size:2rem;
    margin:0;
    justify-content: center;
    color:white;  
}
.Logo img{
    vertical-align: middle;
    margin:0;
    width: 70px;
    height: 50px;
    
}
.footer{
    background-color:#1B193E;
    height: 50px;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.footer_text{
    margin-right: 15px;
}
.footer_text a{
    text-decoration: none;
    color: white;
}
.main{
    font-family: 'Open Sans', sans-serif;
}
.Hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background:rgb(19, 104, 190);
    margin: 5rem;
    margin-top:0;
    margin-bottom: 0;
    align-items: center;
    border-radius:3px;
}
.Hero h1{
    line-height: 1.5;
    font-size: 35px;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    padding-left: 5rem ;
}
h1 strong{
    color:rgb(43, 221, 82);
}
.Img{
    display:flex;
}
.Img-foto{
    object-fit: contain;
    height: 300px;
}
.Secciones{
    display:flex;
    flex-direction: column;
}
.about_me{
    background-color:rgb(23, 120, 177);
    padding: 0;
    margin: 5rem;
    margin-top:0.7rem;
    margin-bottom:0; 
    font-size: 3rem;
}
.about-me-text{
    font-size:1.2em;
    padding: 1rem;
    color:white;
    font-family: 'Roboto', sans-serif;
}
.me{
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color:rgb(24, 109, 158);  
    display: flex; 
}
.me-text{
    font-size: 0.8em;
    color:white;
}
.me-text strong{
    font-style: italic;
    color:blue;
}
.Portafolio{
    background-color:rgb(23, 120, 177);
    padding: 0;
    margin: 5rem;
    margin-top:0.7rem;
    margin-bottom:0; 
    border-radius: 1rem;
    font-size: 3rem;
}
.Proyectos{
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color:rgb(24, 109, 158);  
    display: flex;
   
}
.Porta-text{
    font-size:1.3em;
    padding: 1.5rem;
    color:white;
}
.Proyect{
    border:gray solid 1px;
    border-radius:5px;
    margin: 0.5rem;
}
.Proyect-tittle{
    padding: 1rem;
    font-size: 1em;
}
.Fecha{
    padding: 1rem;
    font-size: 0.9em;
}
.Proyect-link{
    padding: 1rem;
    font-size:.9em;
}
.Proyect-img{
    padding: 1rem;
}
.Proyect-text{
    padding: 1rem;
    font-size: 0.8em;
}
.Contacto{
    background-color:rgb(16, 15, 117);
    padding: 0;
    margin: 5rem;
    margin-top:0.7rem;
    margin-bottom: 0;
    font-size: 5rem;
}
.Contacto h2{
    color: white;
    font-size: 1em;
    padding-left:2rem ;
    padding-top: 1rem;
}
.Contact{
    margin: 1rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    background-color:inherit;  
    display: flex; 
    align-items: center;
    justify-content:space-around;
}
.Contact-text{
    color: white;
    font-size: 0.5em;
}
.social{
    justify-content: space-between;
    align-items: center;
  
}
.link-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
  }
.link-social.twitter {
    background-image: url(../images/twitter.svg);
  }
  .link-social.facebook {
    background-image: url(../images/facebook.svg);
  }
  .link-social.github {
    background-image: url(../images/github.svg);
  }
  .link-social.linkedin{
    background-image: url(../images/linkedin.svg);
  }
  .burger-button{
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(27, 25, 62,0.8);
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
  }   
  @media (max-width:1023px){
    
  }
  @media (max-width:767px){
    .header{
        display: block;
        height: auto;
        text-align:center;
    }
    .header ul{
        display:block;
      }
      .header ul li{
        height: 50px;
        display:flex;
        justify-content: center;
      }
      .header a{
        justify-content: center;
      }
      .header .Logo{
        text-align: center;
      }
      .footer_text{
          margin: auto;
      }
      .Contacto{
        font-size:4rem; 
        margin: 0;
      }
      .Hero h1{
          font-size: 3rem;
      }
      .Portafolio{
          margin:0;
          border-radius: 0;
          font-size: 2.5rem;
      }
      .Proyectos{
        flex-wrap: wrap;
    }
    .about_me{
        margin: 0;
        font-size: 2rem;
    }
    .Hero{
        margin:0;
        border-radius: 0;
    }
    .nav li{
        margin: 0;
    }
    .link-social {
        width: 35px;
        height: 35px;
        background-size: 35px 35px;
      }
      .burger-button{
        display: block;
      }
      .nav {
        position: fixed;
        background-color:rgb(27, 25, 62,.8);
        z-index: 3;
        top: 0;
        left:-100vw; /* Para que el menu se oculte a la izquierda y se cree el efecto al hacer click*/
        width: 100vw;
        bottom: 0;/* height: 100vw; */ /*A partir de aqui para centrar*/
        display: flex;
        align-items: center;
        justify-content: center; /* centrar hasta aqui */
        transition: .3s; /* Para crear efecto de transición */
    }
    .nav.is-active {
        left: 0;
    }
}    
   @media (max-width:480px){
    .social{
        display: block;
    }
    .Contact{
        flex-wrap: wrap;
        margin-bottom: auto;
    }
    .Contact-text{
        padding-bottom:2rem ;
    }
    .about_me{
        font-size: 1.5rem;
    }
    .Hero{
        display:block;
    }
    .Hero h1{
        font-size: 2rem;
        text-align: center;
    }
    .Img-foto{
        height: 150px;
        padding-left:18.5rem ;
    }
    .Portafolio{
        font-size:2rem;
    }
    
    
    
  }
  @media (max-width:320px){
      .Contacto{
          font-size:3rem;
      }
      .about_me{
        font-size: 1rem;
    }
    .Hero{
       height: auto;
       display: block;
    }
    .Hero h1{
        font-size: 1.2rem;
        padding:2rem ;
        text-align: center;
    }
    .Img{
        display:flex;
        justify-content: center;
    }
    .Img-foto{
        height: 100px;
        padding: 0;
        align-items: center;
    }
    .Portafolio{
        font-size: 1.5rem;
    }
}
