/*BADGE*/
.badge{
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
} 
/*LENGUAJES*/
.HTML-CSS{
    background-color: #6c757d;
}
.JS{
    background-color: #ffc107;
}
.REACT{
    background-color: #198754;
}
.Bootstrap{
    background-color: #0dcaf0;
}
.CLONE{
    background-color: #212529;
}