.text-sobre-mi {
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.container-info-aboutme{
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-aboutme{
    padding-left: 0.25rem;
}
.img-aboutme{
    height: 50px;
    width: 50px;
}
@media screen and (max-width:767px){
    .text-sobre-mi{
        font-size: 1rem;
    }
}