*{
    font-family: Roboto;
}
/* HEADER */
.Logo{
    height: 70px;
    width: 70px;
}
.name_Logo{
    color:var(--text-navbar-color);
}
.navbar-nav{
    padding-right:20px;
}
.text-navbar{
    color:var(--text-navbar-color);
}
/*FOOTER*/
footer{
    background-color:var(--footer-color);
}
.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.text-footer a{
    text-decoration: none;
    color: white;
}
.mail-contact img{
    height: 50px;
    width:50px;
}
.text-footer{
    color: var(--text-footer-color);
    padding-left: 10px;
    margin:0;
}
/*HERO*/
.Hero{
    padding:1rem;
    font-size: 3rem;
    text-align: center;
}
/*PROYECTOS DESTACADOS*/
.text-proyectos-destacados{
    padding-left:2rem ;
}
.card{
    padding:1rem;
    margin:2rem ;
}
/*Mas Proyectos*/
.text-mas-proyectos{
    text-align:end;
    padding-right: 2rem;
}
/*Sobre Mi*/
.text-sobre-mi{
    padding-left: 2rem;
}
/*.container-info-aboutme{
    border: 1px solid black;
}*/
.img-aboutme{
    height: 50px;
    width:50px;
}
/*Contacto*/
.contacto{
    margin: auto;
}
.text-contact{
    text-align:center;
}
.img-contact{
    height: 50px;
    width: 50px;
    color: black;
}